## https://raw.githubusercontent.com/nagamounika5/Datasets/master/Glass_Classification.csv
## Apply Random forest model to above dataset.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/nagamounika5/Datasets/master/Glass_Classification.csv')

In [4]:
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [5]:
df.shape

(214, 10)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
RI      214 non-null float64
Na      214 non-null float64
Mg      214 non-null float64
Al      214 non-null float64
Si      214 non-null float64
K       214 non-null float64
Ca      214 non-null float64
Ba      214 non-null float64
Fe      214 non-null float64
Type    214 non-null int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [7]:
df.isnull().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

In [8]:
df.isnull().sum().sum()

0

In [9]:
X = df.drop('Type', axis = 1) ## Input variable
Y = df['Type']    ## Target variable

In [10]:
X.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0

In [11]:
Y[:5]

0    1
1    1
2    1
3    1
4    1
Name: Type, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.30, random_state = 45)

In [13]:
X_train

          RI     Na    Mg    Al     Si     K     Ca    Ba    Fe
165  1.52171  11.56  1.88  1.56  72.86  0.47  11.41  0.00  0.00
132  1.51813  13.43  3.98  1.18  72.49  0.58   8.15  0.00  0.00
72   1.51593  13.09  3.59  1.52  73.10  0.67   7.83  0.00  0.00
58   1.51754  13.48  3.74  1.17  72.99  0.59   8.03  0.00  0.00
29   1.51784  13.08  3.49  1.28  72.86  0.60   8.49  0.00  0.00
184  1.51115  17.38  0.00  0.34  75.41  0.00   6.65  0.00  0.00
207  1.51831  14.39  0.00  1.82  72.86  1.41   6.47  2.88  0.00
194  1.51683  14.56  0.00  1.98  73.29  0.00   8.52  1.57  0.07
146  1.51769  13.65  3.66  1.11  72.77  0.11   8.60  0.00  0.00
149  1.51643  12.16  3.52  1.35  72.89  0.57   8.53  0.00  0.00
135  1.51789  13.19  3.90  1.30  72.33  0.55   8.44  0.00  0.28
150  1.51665  13.14  3.45  1.76  72.48  0.60   8.38  0.00  0.17
174  1.52058  12.85  1.61  2.17  72.18  0.76   9.70  0.24  0.51
34   1.51783  12.69  3.54  1.34  72.95  0.57   8.75  0.00  0.00
211  1.52065  14.36  0.00  2.02  73.42  0.00   8.44  1.64  0.00
179  1.51852  14.09  2.19  1.66  72.67  0.00   9.32  0.00  0.00
172  1.51321  13.00  0.00  3.02  70.70  6.21   6.93  0.00  0.00
66   1.52152  13.05  3.65  0.87  72.22  0.19   9.85  0.00  0.17
176  1.51905  14.00  2.39  1.56  72.37  0.00   9.57  0.00  0.00
16   1.51784  12.68  3.67  1.16  73.11  0.61   8.70  0.00  0.00
151  1.52127  14.32  3.90  0.83  71.50  0.00   9.49  0.00  0.00
117  1.51708  13.72  3.68  1.81  72.06  0.64   7.88  0.00  0.00
107  1.53393  12.30  0.00  1.00  70.16  0.12  16.19  0.00  0.24
180  1.51299  14.40  1.74  1.54  74.55  0.00   7.59  0.00  0.00
89   1.51640  12.55  3.48  1.87  73.23  0.63   8.08  0.00  0.09
122  1.51687  13.23  3.54  1.48  72.84  0.56   8.10  0.00  0.00
171  1.51316  13.02  0.00  3.04  70.48  6.21   6.96  0.00  0.00
90   1.51841  12.93  3.74  1.11  72.28  0.64   8.96  0.00  0.22
173  1.52043  13.38  0.00  1.40  72.25  0.33  12.50  0.00  0.00
43   1.52210  13.73  3.84  0.72  71.76  0.17   9.74  0.00  0.00
..       ...    ...   ...   ...    ...   ...    ...   ...   ...
56   1.51215  12.99  3.47  1.12  72.98  0.62   8.35  0.00  0.31
212  1.51651  14.38  0.00  1.94  73.61  0.00   8.48  1.57  0.00
126  1.51667  12.94  3.61  1.26  72.75  0.56   8.60  0.00  0.00
110  1.52664  11.23  0.00  0.77  73.21  0.00  14.68  0.00  0.00
17   1.52196  14.36  3.85  0.89  71.36  0.15   9.15  0.00  0.00
12   1.51589  12.88  3.43  1.40  73.28  0.69   8.05  0.00  0.24
24   1.51720  13.38  3.50  1.15  72.85  0.50   8.43  0.00  0.00
210  1.51685  14.92  0.00  1.99  73.06  0.00   8.40  1.59  0.00
162  1.52211  14.19  3.78  0.91  71.36  0.23   9.14  0.00  0.37
140  1.51690  13.33  3.54  1.61  72.54  0.68   8.11  0.00  0.00
181  1.51888  14.99  0.78  1.74  72.50  0.00   9.95  0.00  0.00
8    1.51918  14.04  3.58  1.37  72.08  0.56   8.30  0.00  0.00
46   1.51869  13.19  3.37  1.18  72.72  0.57   8.83  0.00  0.16
118  1.51673  13.30  3.64  1.53  72.53  0.65   8.03  0.00  0.29
57   1.51824  12.87  3.48  1.29  72.95  0.60   8.43  0.00  0.00
53   1.51837  13.14  2.84  1.28  72.85  0.55   9.07  0.00  0.00
142  1.51662  12.85  3.51  1.44  73.01  0.68   8.23  0.06  0.25
65   1.52099  13.69  3.59  1.12  71.96  0.09   9.40  0.00  0.00
15   1.51761  12.81  3.54  1.23  73.24  0.58   8.39  0.00  0.00
120  1.51844  13.25  3.76  1.32  72.40  0.58   8.42  0.00  0.00
121  1.51663  12.93  3.54  1.62  72.96  0.64   8.03  0.00  0.21
68   1.52152  13.12  3.58  0.90  72.20  0.23   9.82  0.00  0.16
163  1.51514  14.01  2.68  3.50  69.89  1.68   5.87  2.20  0.00
189  1.52365  15.79  1.83  1.31  70.43  0.31   8.61  1.68  0.00
95   1.51860  13.36  3.43  1.43  72.26  0.51   8.60  0.00  0.00
32   1.51775  12.85  3.48  1.23  72.97  0.61   8.56  0.09  0.22
124  1.52177  13.20  3.68  1.15  72.75  0.54   8.52  0.00  0.00
131  1.52614  13.70  0.00  1.36  71.24  0.19  13.44  0.00  0.10
158  1.51776  13.53  3.41  1.52  72.04  0.58   8.79  0.00  0.00
203  1.51658  14.80  0.00  1.99  73.11  0.00   8.28  1.71  0.00

[149 rows x 9 columns]

In [14]:
X_train.shape , X_test.shape

((149, 9), (65, 9))

In [15]:
Y_train.shape, Y_test.shape

((149,), (65,))

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [17]:
rfc = RandomForestClassifier()
rfc

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators='warn',
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [18]:
rfc.fit(X_train, Y_train)

C:\Users\tatal\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [19]:
Y_prediction = rfc.predict(X_test)
Y_prediction

array([2, 1, 2, 2, 2, 2, 1, 1, 5, 2, 5, 1, 2, 2, 1, 1, 1, 6, 1, 1, 1, 1,
       7, 2, 1, 5, 1, 7, 5, 2, 1, 7, 2, 1, 2, 2, 7, 1, 2, 2, 2, 1, 2, 7,
       1, 1, 1, 1, 7, 2, 1, 2, 3, 1, 7, 5, 5, 7, 1, 2, 1, 1, 2, 7, 1],
      dtype=int64)

In [20]:
X_test.head(3)

         RI     Na    Mg    Al     Si     K    Ca   Ba    Fe
83  1.51594  13.09  3.52  1.55  72.87  0.68  8.05  0.0  0.09
62  1.52172  13.51  3.86  0.88  71.79  0.23  9.54  0.0  0.11
84  1.51409  14.25  3.09  2.08  72.28  1.10  7.08  0.0  0.00

In [21]:
Y[:3]

0    1
1    1
2    1
Name: Type, dtype: int64

In [23]:
rfc.predict([[1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.0,0.09]])

array([2], dtype=int64)

In [24]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_prediction, Y_test)

array([[16,  7,  3,  0,  0,  1],
       [ 3, 16,  0,  1,  0,  1],
       [ 1,  0,  0,  0,  0,  0],
       [ 0,  3,  0,  0,  1,  2],
       [ 0,  0,  0,  0,  1,  0],
       [ 0,  0,  0,  0,  0,  9]], dtype=int64)

In [25]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_prediction, Y_test)

0.6461538461538462